<div class="col m4">
          <br/>
            <ul class="collection with-header notification">
                <li style="background-color:#4CAF50;" class="collection-header"><h5>Notifications</h5></li>
                <li class="collection-item avatar">
                  <img src="http://placehold.it/50x50" alt="" class="circle">
                  <span class="title">Ky Sona</span>
                  <p>Hi, Where is my product?</p>
                  <a href="#!" class="secondary-content"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="http://placehold.it/50x50" alt="" class="circle">
                  <span class="title">Ky Sona</span>
                  <p>Hi, Where is my product?</p>
                  <a href="#!" class="secondary-content"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="http://placehold.it/50x50" alt="" class="circle">
                  <span class="title">Ky Sona</span>
                  <p>Hi, Where is my product?</p>
                  <a href="#!" class="secondary-content"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="http://placehold.it/50x50" alt="" class="circle">
                  <span class="title">Ky Sona</span>
                  <p>Hi, Where is my product?</p>
                  <a href="#!" class="secondary-content"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </li>
              </ul>
          </div>