<div class="row">
          <div class="col m9">
            <div>
              <p><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</p>
            </div>
            <div>
              <h5>Today : 18-July-2016 </h5>
            </div>
          </div>
          <div class="col m3">
          </div>
        </div>
        
<div class="row">
          <div class="col m3">
            <a href="#">
              <div class="row icon-box">
                <div class="col m5" style="background-color:#32a096;width:40%;height:100px;">
                  <i class="fa fa-shopping-basket fa-3x" aria-hidden="true" style="margin-top:20px"></i>
                </div>
                <div class="col m7" style="background-color:#00c0ef;width:60%;height:100px;">
                  <p style="color:white">Products</p>
                  <div class="divider"></div>
                  <p style="color:white">1200</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3">
             <a href="#">
              <div class="row icon-box">
                <div class="col m5" style="background-color:#2b822f;width:40%;height:100px;">
                  <i class="fa fa-shopping-cart fa-4x" aria-hidden="true" style="margin-top:20px"></i>
                </div>
                <div class="col m7" style="background-color:#00a65a;width:60%;height:100px;">
                  <p style="color:white">Orders</p>
                  <div class="divider"></div>
                  <p style="color:white">1200</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3">
             <a href="#">
              <div class="row icon-box">
                <div class="col m5" style="background-color:#b76e26;width:40%;height:100px;">
                  <i class="fa fa-users fa-4x" aria-hidden="true" style="margin-top:20px"></i>
                </div>
                <div class="col m7" style="background-color:#f39c12;width:60%;height:100px;">
                  <p style="color:white">Members</p>
                  <div class="divider"></div>
                  <p style="color:white">1200</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3">
             <a href="#">
              <div class="row icon-box">
                <div class="col m5" style="background-color:#650080;width:40%;height:100px;">
                  <i class="fa fa-thumbs-up fa-4x" aria-hidden="true" style="margin-top:20px"></i>
                </div>
                <div class="col m7" style="background-color:purple;width:60%;height:100px;">
                  <p style="color:white">Like</p>
                  <div class="divider"></div>
                  <p style="color:white">1200</p>
                </div>
              </div>
            </a>
          </div>

        </div>