<div class="col m4">
              <h6 style="color:green;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Profit Tables</h6>
              <div class="divider"></div> 
              <br/>
              <table class="responsive-table tbl-content">
                  <thead>
                    <tr>
                        <th data-field="id">Time</th>
                        <th data-field="name">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>This Week</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>This Month</td>
                      <td>$1,000</td>
                    </tr>
                    <tr>
                      <td>This Year</td>
                      <td>$10,000</td>
                    </tr>
                    <tr>
                      <td>All the Time</td>
                      <td>$100,000</td>
                    </tr>
                  </tbody>
            </table>
          </div>