<div class="col m8">
  <h6 style="color:green;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Best Seller</h6>
  <div class="divider"></div> 
  <br/>
  <div class="row">
    <div class="col m6"></div>
    <div class="col m3">
      <select class="browser-default">
        <option value="" disabled selected>Row to Display</option>
        <option value="1">5</option>
        <option value="2">10</option>
        <option value="3">30</option>
        <option value="3">50</option>
      </select>
    </div>
    <div class="col m3">
      <select class="browser-default">
        <option value="" disabled selected>Time to Display</option>
        <option value="1">This Week</option>
        <option value="2">This Month</option>
        <option value="3">This Year</option>
        <option value="3">All the Time</option>
      </select>
    </div>
  </div>

  <table class="responsive-table tbl-content">
    <thead>
      <tr>
        <th data-field="id">No</th>
        <th data-field="id">Name</th>
        <th data-field="id">Unit Price</th>
        <th data-field="name">Quantity</th>
        <th data-field="price">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Coca Cola</td>
        <td>$10</td>
        <td>100</td>
        <td>$1,000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Coca Cola</td>
        <td>$10</td>
        <td>100</td>
        <td>$1,000</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Coca Cola</td>
        <td>$10</td>
        <td>100</td>
        <td>$1,000</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Coca Cola</td>
        <td>$10</td>
        <td>100</td>
        <td>$1,000</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Coca Cola</td>
        <td>$10</td>
        <td>100</td>
        <td>$1,000</td>
      </tr>
      <tr>
      </tbody>
    </table>
    <div style="float:right;">
      <ul class="pagination pagin">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>