<navigation-web></navigation-web>
<div class="container-fluid"> 
    <search-area></search-area>
    <main-menu></main-menu>
    <div class="container-fluid">
    
      <div class="container"> 
        <product-title></product-title>    
        <div class="row">
          <menu-left></menu-left>
          <advertise-product></advertise-product>
        </div>
        
        <pagination></pagination>
        <city></city>
        <company-info></company-info>
      </div>

      <footer-web></footer-web>
    </div>    
</div>