
          <h5>Post a comment</h5>
          <form>
            <div class="row">
              <div class="input-field col m12">
                <label for="first_name">Name</label><br/>
                <input id="first_name" type="text" class="validate">
              </div>
            </div>
            <div class="row">
              <div class="input-field col m12">
                <label for="first_name">Email</label><br/>
                <input id="first_name" type="text" class="validate">
              </div>
            </div>
            <div>
              <label>Enter your comment here.</label><br/>
              <textarea rows="50" cols="50"> </textarea>
            </div>
            <br/>
            <div>
              <button class="waves-effect waves-light btn green">submit</button>&nbsp;&nbsp;
              <button class="waves-effect waves-light btn orange">cancel</button>
            </div>
            </form>
         