


          <h5>Frequently Asked Questions</h5>
          <h6>How do I sell on Macrocoupon?</h6>
          <h6>It is easy to start growing your business with Macrocoupon:</h6>
          <ol start="1">
            <li>Provide your business info at <a href="#">macrocoupon.com/merchant/get-started</a>.</li>
            <li>Create your campaign. Depending on your business, you may be able to start creating your own offer with the Groupon Deal Builder, or a Groupon representative may contact you directly to work on your offer with you.</li>
            <li>Optimize your Groupon campaigns for the best results. Groupon has a lot of options for different business types and customer needs, including <a href="#">local marketing campaigns</a>, online ordering for <a href="#">delivery and takeout</a>, easy <a href="#">online booking</a>, and <a href="#">customizable business listings</a>.</li>
            <li>Prepare your business and staff using the prep materials Groupon will send you.</li>
            <li>When customers start coming in, use your <a href="#">Macrocoupon Merchant 
              </a> or our mobile app for <a href="#">iOS</a> and <a href="#">Android</a> to redeem customer Groupons and track your customers' bill totals.</li>
          </ol>
          <br/>
          <h5>Ready to grow with Groupon? <a href="#">Get Started</a> Today</h5>
          <div class="divider"></div><br/>
          <h6>Question and Answer (3)</h6>
          <h6>Local Deals</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>Macrocoupon to Go (3)</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>Online Booking (3)</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>In-Store Pickup (5)</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>Macrocoupon Gateways (6)</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>

          <h6>Macrocoupon Live (3) </h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>Macrocoupon Pages (3) </h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
          <h6>Merchant Tool (3) </h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; How much does it cost to run a Local Deal campaign?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; Can I limit the number of Groupons sold?</a></li>
            <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp; What happens when a customer's Groupon expires?</a></li>
          </ul>
       