<div class="row">
	<div class="col m12">
		<table class="bordered">
			<thead style="color:#b0a171;">
				<tr>
					<th data-field="id">Product</th>
					<th data-field="name">Item</th>
					<th data-field="price">Unit Price</th>
					<th data-field="price">Quantity</th>
					<th data-field="price">Sub Total</th>
				</tr>
			</thead>
			<tbody> 
				<tr *ngFor="let pro of products">
					<td>
						<a href="#"><img class="responsive-img" src="http://placehold.it/200x200" width="80px" height="80px"/>
						</a>
					</td>
					<td>
						<p>{{pro.name}}</p>	
						<p style="font-size:9pt;">Code: {{pro.code}}</p>
						<a href="" class="delete-item" (click)="removeItem()">
							<i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Remove Item
						</a>
					</td>
					<td>$ {{pro.price}}</td>
					<td>
						<select class="browser-default" style="width:50px">
							<option value="1">{{pro.qty}}</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="3">3</option>
						</select>
					</td>
					<td>$ {{pro.price * pro.qty}}</td>
				</tr>             
			</tbody>
		</table>
		<br/>
		<div style="float:right;margin-right:130px;color:red;font-weight:bold;">
			<span>Total:</span>
			<span>$ {{total}}</span>
		</div>
	</div>
</div>