<div class="container">
  <div class="row">
    <div class="col m8">
        <!-- popular questions -->
        <mer-pop-question></mer-pop-question>
    </div>
    <div class="col m4">
        <!-- allow merchant to post the answer -->
        <mer-comment></mer-comment>
    </div>
  </div>
</div>

<!--<navigation-web></navigation-web>
<body>
<div class="container-fluid">

    <mer-register-menu></mer-register-menu>    
    <div class="container">
      <div class="row">
    
        <mer-pop-question></mer-pop-question>
      
        <mer-comment></mer-comment>
      </div>
    </div>

    <footer-web></footer-web>
</div>

</body>-->
      
