/*nav{
	background-color:#3c8dbc; 
}
nav .brand-logo{
	margin-left:20px;
}*/
 
.merchant-menu-left{
	background-color:#333;
	height:1130px;
	margin-top:-50px;
}
.collapsible{
	margin-top:78px;
}

.body-content{
	background-color:#ecf0f5;
	height:100%;
	margin-top:-18px;
}
div.icon-box{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* table content */
table.tbl-content, th, td{
	background-color: white;
	font-size:10pt;
}
table.tbl-content {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* Pagination */
ul.pagin {
	font-size:5pt;
}
ul.pagin li a{
	font-size:11pt;
}
/* notification */
ul.notification{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	overflow-y: scroll; height:300px;font-size:9pt;
}
/* collap */
.collapsible-header{
	background-color:#333;
	color:white;
}
.collection a.collection-item{
	/*background-color:#374850;
	color:white;*/
}
.fa-4x,.fa-3x{
	color:white;
}
