<br/><br/>
<div class="row">
		<div class="col m12">
			<h5>Account Information</h5>
		</div>
</div>
<div class="row">
				<div class="col m12" style="background-color:white;width:100%;">
					<ul class="tabs">
						<li class="tab col m4"><a class="active" href="#accst">Account Setting</a></li>
						<li class="tab col m4"><a href="#pwst">Password Setting</a></li>
						<li class="tab col m4"><a href="#emst">Email Setting</a></li>
					</ul>
					
					<username-setting></username-setting>
					
					<password-setting></password-setting>
					
					<email-setting></email-setting>						
				</div>
</div>

<!--<navigation-web></navigation-web>-->
<!--<div class="container">-->
	<!--<br/><br/>
	<div class="row">
		<div class="col m12">
			<h5>Account Information</h5>
		</div>
	</div>
	<div class="divider"></div>
	<br/>
	<div class="row">
		<div class="col m12">
			<div class="row">
				<div class="col m12" style="background-color:white;width:70%;">
					<ul class="tabs">
						<li class="tab col m4"><a class="active" href="#accst">Account Setting</a></li>
						<li class="tab col m4"><a href="#pwst">Password Setting</a></li>
						<li class="tab col m4"><a href="#emst">Email Setting</a></li>
					</ul>
					
					<username-setting></username-setting>
					
					<password-setting></password-setting>
					
					<email-setting></email-setting>						
				</div>
			</div>
		</div>
	</div>-->
<!--</div>-->
<!-- ./ close container -->
<!-- ./ Tab Menus -->
<!-- Back to top -->
			<!-- <p id="back-top" style="z-index:1">
				<a href="#top"><i class="fa fa-arrow-circle-up fa-4x" aria-hidden="true"></i></a>
			</p> -->
			<!-- Footer -->
<!--<footer-web></footer-web>-->