<div class="col m5" style="margin-left:40px">
	<div class="row">
		<div class="col m12" >
			<h5 class="caption">Sign Up with Social Network</h5>
			<div class="divider"></div>
			<br/><br/>
			<form>
				<a class="waves-effect waves-light btn signup-facebook" (click)="onSignUpFacebook()" style="width:345px;height:35px">
					<i class="fa fa-facebook left" aria-hidden="true"></i>Sign Up with Facebook
				</a>
				<br/><br/>
				<div id="my-signin2"></div>
							<!-- <a class="waves-effect waves-light btn signup-google">
								<i class="fa fa-google left" aria-hidden="true"></i>Sign Up with Google
							</a> -->
							<br/>
							<!-- Keep me sign in this computer -->
							<p>
								<input type="checkbox" class="filled-in" id="filled-in-box3" checked="checked" />
								<label for="filled-in-box3">Keep me signed in on this computer</label>
							</p>
						</form>
						<br/>
						<h6>Already have Macrocoupon account?
							<a href="#" routerLink="/signin"> Sign in</a>
						</h6>
					</div>
				</div>
			</div>