<navigation-web></navigation-web>
<div class="container">
  <search-area></search-area>
  <main-menu></main-menu>
  <product-title></product-title>    
  <div class="row">
    <!-- body left -->
    <div class="col m4">
      <menu-left></menu-left>
      <similar-product></similar-product>
    </div>
    <!-- body right -->
    <div class="col m8">
      <menu></menu>
      <advertise-product></advertise-product>
      <pagination></pagination>
    </div>
  </div> 
  <city></city>
  <company-info></company-info>
</div>
<footer-web></footer-web>