<b><i class="fa fa-bookmark" aria-hidden="true" style="color:#fbb602"></i>&nbsp;Similar Products</b>
<!-- advertise similar -->
<div class="row">
  <div class="col m12">
    <a href="#" routerLink="/products/product">
      <div class="card">
        <div class="card-image">
          <img src="http://placehold.it/350x200" style="width:100%;">
          <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-content">
          <p>Happy New Year with Coca Cola. Share your love with your family and friends at here with Coca Cola.</p>
        </div>
                  <!-- <div class="card-action">
                      <a href="#"><strike class="original_price">$ 10</strike></a>
                      <a href="#"><b class="sale-price">$ 5</b></a>
                      <a href="#">
                        <a class="waves-effect waves-light btn">View Deal</a>
                      </a>
                    </div> -->
                  </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col m12">
                <a href="#" routerLink="/products/product">
                  <div class="card">
                    <div class="card-image">
                      <img src="http://placehold.it/350x200" style="width:100%;">
                      <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <div class="card-content">
                      <p>Happy New Year with Pepsi. Share your love with your family and friends at here with Pepsi.</p>
                    </div>
                  <!-- <div class="card-action">
                      <a href="#"><strike class="original_price">$ 10</strike></a>
                      <a href="#"><b class="sale-price">$ 5</b></a>
                      <a href="#">
                        <a class="waves-effect waves-light btn">View Deal</a>
                      </a>
                    </div> -->
                  </div>
                </a>
              </div>
            </div>