<div>
        <h5>Make Business Grow with Macrocoupon</h5>
        <p>Join more than a million merchants who have found new customers, brand awareness, 
           and profitable marketing with no upfront cost.
        </p>
      </div> <br/>
      <div class="row">
        <div class="col m4">
          <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
          <h5>Profit-Driven Marketing</h5>
          <p>
            With more than 900 million units sold1, we know how to set your business up for success. In fact, more than 80% of our campaigns are immediately profitable.
          </p>
        </div>
        <div class="col m4">
          <i class="fa fa-users fa-5x" aria-hidden="true"></i>
          <h5>Quality Customers</h5>
          <p>
            Groupon customers are collectors of new experiences, but loyal to the places they love. They spend more at great businesses and recommend favorite spots to friends.
          </p>
        </div>
        <div class="col m4">
          <i class="fa fa-flag fa-5x" aria-hidden="true"></i>
          <h5>New Ways to Grow</h5>
          <p>
            Boost your online presence and connect with customers on your Groupon Page, drive revenue through full-priced offerings, and manage demand via online booking
          </p>
        </div>
      </div>