<div id="pwst" class="col m12">  
	<br/><br/>  
	<div class="row"> 
		<div class="col m12">
			<form novalidate [formGroup]="passwordForm" (submit)="changePassword()">
				<div class="row">
					<div class="input-field col m12">
						<label>Current Password</label><br/>
						<input formControlName="current_password" type="password" class="validate" required >
						
						<div *ngIf="passwordForm.controls.current_password.errors">
							<small style="color:red;">Required *</small>
						</div>
						<div *ngIf="passwordForm.controls.current_password.pattern">
							<small style="color:red;">password must be at least 6 up to 40 characters and include at least one character and one digit!</small>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="input-field col m12">
						<label>New Password</label><br/>
						<input formControlName="new_password" type="password" class="validate" required >
						
						<div *ngIf="passwordForm.controls.new_password.errors">
							<small style="color:red;">Required *</small>
						</div>
						<div *ngIf="passwordForm.controls.new_password.pattern">
							<small style="color:red;">password must be at least 6 up to 40 characters and include at least one character and one digit!</small>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="input-field col m12">
						<label>Retype New Password</label> <br/>
						<input formControlName="retype_password" type="password" class="validate" required >					
						
						<div *ngIf="passwordForm.controls.retype_password.errors">
							<small style="color:red;">Required *</small>
						</div>
						<div *ngIf="passwordForm.controls.retype_password.pattern">
							<small style="color:red;">password must be at least 6 up to 40 characters and include at least one character and one digit!</small>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col m12">
						<button type="submit" [disabled]="!passwordForm.valid" class="waves-effect waves-light btn" [ngClass]="{'btn-red': !passwordForm.valid }" >save change</button>&nbsp;&nbsp;
						<button (click)="cancel()" class="waves-effect waves-light btn orange">cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>