<navigation-web></navigation-web>
<div class="container-fluid">
	<search-area></search-area>
	<main-menu></main-menu>	
	<div class="container">
		<product-title></product-title>			
		
		<div class="row">
			<!-- <product-picture></product-picture> -->
			<product-desc></product-desc>
		</div>
		<!-- <google-map></google-map> -->
		<br/>
		<h5>Recommendation for You</h5>
		<div class="divider"></div>
		<br/>
		<advertise-product></advertise-product>
		<city></city>
		<company-info></company-info> 
	</div>
	<footer-web></footer-web>	
</div> 

