 <!-- Title -->
        <!--<merchant-title></merchant-title>-->
        <!-- Boxes -->
        <merchant-info-box></merchant-info-box>
        <!-- Blog tables and Notification -->
        <div class="row">
          <!-- tbl order status -->
          <merchant-tbl-order></merchant-tbl-order>
          <!-- notification table -->
          <merchant-notification></merchant-notification>
        </div>
        <!-- Table Best seller and Table Profit  -->
        <div class="row">
            <!-- table best seller -->
            <merchant-tbl-seller></merchant-tbl-seller> 
            <!-- table profit -->
            <merchant-tbl-profit></merchant-tbl-profit>
        </div>