<!--<div class="col m3 merchant-menu-left">-->
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><a [routerLink]="['/merchant/dashboard']" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></div>
    </li>
    <!-- Product -->
    <li>
      <div class="collapsible-header"><i class="fa fa-product-hunt" aria-hidden="true"></i>Product</div>
      <div class="collapsible-body">
        <div class="aaa">
        <div class="collection">
          <a [routerLink]="['list-product']" href="#" class="collection-item">List Product</a>
          <a [routerLink]="['list-product']" href="#" class="collection-item">Add Product</a>
        </div>
        </div>
      </div>
    </li>
    <!-- customer -->
    <li>
      <div class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i>Customer</div>
      <div class="collapsible-body">
        <div class="collection">
          <a [routerLink]="['list-product']" href="#" class="collection-item">List Customer</a>
          <a [routerLink]="['list-product']" href="#" class="collection-item">Add Customer</a>
        </div>
      </div>
    </li>
    <!-- user account -->
    <li>
      <div class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i>Account</div>
      <div class="collapsible-body">
        <div class="collection">
          <a [routerLink]="['mer-acc-setting']" href="#" class="collection-item">Account Setting</a>
          <a [routerLink]="['mer-acc-setting']" href="#" class="collection-item">Add Customer</a>
        </div>
      </div>
    </li>


  </ul>
<!--</div>-->