<navigation-web></navigation-web>
<div class="container">
	<br/><br/><br/>
	<div class="row">
		<div class="col m2">.
		</div>
		<div class="col m8">
			<div>
				<p>Congratulation! Now you are successfully signup your macrocopon account.</p>
				<div class="divider"></div><br/>
				<a href="#" routerLink="/signin" style="margin-left:100px;font-weight:bold;">Go to verify your account &nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a><br/>
			</div>
		</div>
		<div class="col m2">.
		</div>
	</div>
</div>