<div class="row">
      <div class="col m12">
        <!-- row 1 -->
        <div class="row">
          <div class="col m2">&nbsp;</div>
          <div class="col m4">
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a> &nbsp;&nbsp;
            <a href="#"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a> &nbsp;&nbsp;
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a> &nbsp;&nbsp;
          </div>
          <div class="col m2">&nbsp;</div>
          <div class="col m4"><a [routerLink]="['/merchant/register']" class="waves-effect waves-light btn green">get started</a></div>
        </div>
        <!-- row 2 -->
        <div class="row">
          <div class="col m2">&nbsp;</div>
          <div class="col m8">
            <h5 style="font-family:Gabriola;font-size:30pt;">Merchant Macrocoupon</h5>
          </div>   
          <div class="col m2"></div>
        </div>
        <div class="divider"></div> <br/>
        <!-- row 3 -->
        <div class="row">
          <div class="col m2">&nbsp;</div>
          <div class="col m1"><a href="#" [routerLink]="['solution']">Solution</a></div>
          <div class="col m1"><a href="#" [routerLink]="['resource']">Resources</a></div>
          <div class="col m1"><a href="#" [routerLink]="['/merchant/register']">Blogs</a></div>
          <div class="col m4">&nbsp;</div>
          <div class="col m1"><a href="#" [routerLink]="['merchant-signin']" >Sign In</a></div>
          <div class="col m2"></div>
        </div>
      </div>
    </div>
    <div class="divider"></div>