<div class="row">
	<div class="col m12">
		<div class="divider"></div>
		<div class="section">
			<h4>Our Company</h4>
			<p>Groupon (NASDAQ: GRPN) is building the daily habit in local commerce, offering a vast mobile and online marketplace where people discover and save on amazing things to do, see, eat and buy. By enabling real-time commerce across local businesses, travel destinations, consumer products and live events, shoppers can find the best a city has to offer. Groupon is redefining how small businesses attract and retain customers by providing them with customizable and scalable marketing tools and services to profitably grow their businesses. To download Groupon’s top-rated mobile apps, visit www.groupon.com/mobile. To search for great deals or subscribe to Groupon emails, visit www.groupon.com. To learn more about the company’s merchant solutions and how to work with Groupon, visit www.groupon.com/merchant.
			</p>
		</div>
	</div>
</div>