<div class="row">
  <!-- image -->
  <br/>
  <div class="col m12">
    <img class="responsive-img" src="http://placehold.it/800x300" width="100%"/>
  </div>
</div>
<div class="row">
  <div class="col m12">
    <div class="section">
      <h4>Macrocoupon Sells One Billionth Groupon</h4>
      <p>Today, Groupon announced that it sold its one billionth Groupon, putting the company in the same group as Apple, McDonalds, Uber, The Beatles, Elvis and other brands and icons that have achieved the billion-sold milestone. The billionth Groupon sold was an $11 for $20 promotion for pizza and Italian food and a lot of things.</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h4>Our Mission</h4>
      <p>To connect local commerce, increasing consumer buying power while driving more business to local merchants through price and discovery.</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h4>Our Value</h4>
      <h5>Start with customers</h5>
      <p>We are always imagining new ways to exceed the expectations of all our customers—both consumers looking for great experiences at a great value and merchants seeking solutions to attract more customers and run their businesses better. Our deals and business tools connect the two in a seamless way that brings significant value to both their lives.</p>
      <h5>Great People Make Great Companies</h5>
      <p>We’re a home for creatives, problem-solvers, and innovators alike—those with the passion and know-how to transform what-abouts into the products and services our customers need and want. We know we’d be nothing without the people that make up this company, so we’ve created a workplace that’s not only inclusive and fun, but also rewards achievement with increased ownership and challenges.</p>
      <h5>Intolerant of Mediocrity</h5>
      <p>We’re in relentless pursuit of excellence, continually raising our own bar to remain at the forefront of local commerce. With ongoing testing and improvements to our site design, mobile app, inventory, and shopping experience, we’ve built the world’s largest marketplace of deals to deliver all the things our customers love, anywhere, anytime.</p>
      <h5>Build for the Long Term</h5>
      <p>Even when instant gratification seems attractive, we’ll never do something for short-term gains that we know will hurt us in the long run. We’re willing to make investments that may not pay off for years, such as developing our own new technologies or acquiring a startup on the rise.</p>
      <h5>Making Life Less Boring</h5>
      <p>Plenty of things in life are pretty ho-hum, so we aim to provide an escape from the everyday grind. In our quest to liven things up, we infuse excitement, newness and unpredictability into everything we do—from our offers and shopping experience to our office space and workday.</p>
    </div>
  </div>
</div>