<!-- Advertise Product Space -->
<br/>
<div class="row">
	<div class="col m12">
    <div class="col m4">
      <a href="#">
        <div class="card hoverable">
          <div class="card-image">
            <img src="http://placehold.it/200x200">
            <span class="card-title">
             <p>Blance & Eclare</p>
             <small>50% Off</small>
           </span>
         </div>
       </div>
     </a>
   </div>
   <div class="col m4">
    <a href="#">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://placehold.it/200x200">
          <span class="card-title">
           <p>Blance & Eclare</p>
           <small>50% Off</small>
         </span>
       </div>
     </div>
   </a>
 </div>
 <div class="col m4">
  <a href="#">
    <div class="card hoverable">
      <div class="card-image">
        <img src="http://placehold.it/200x200">
        <span class="card-title">
         <p>Blance & Eclare</p>
         <small>50% Off</small>
       </span>
     </div>
   </div>
 </a>
</div>
</div>
</div>
<div class="row" style="margin-top:-20px;">
	<div class="col m12">
    <div class="col m4">
      <a href="#">
        <div class="card hoverable">
          <div class="card-image">
            <img src="http://placehold.it/200x200">
            <span class="card-title">
             <p>Blance & Eclare</p>
             <small>50% Off</small>
           </span>
         </div>
       </div>
     </a>
   </div>
   <div class="col m4">
    <a href="#">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://placehold.it/200x200">
          <span class="card-title">
           <p>Blance & Eclare</p>
           <small>50% Off</small>
         </span>
       </div>
     </div>
   </a>
 </div>
 <div class="col m4">
  <a href="#">
    <div class="card hoverable">
      <div class="card-image">
        <img src="http://placehold.it/200x200">
        <span class="card-title">
         <p>Blance & Eclare</p>
         <small>50% Off</small>
       </span>
     </div>
   </div>
 </a>
</div>
</div>
</div>
<div class="row" style="margin-top:-20px;">
	<div class="col m12">
    <div class="col m4">
      <a href="#">
        <div class="card hoverable">
          <div class="card-image">
            <img src="http://placehold.it/200x200">
            <span class="card-title">
             <p>Blance & Eclare</p>
             <small>50% Off</small>
           </span>
         </div>
       </div>
     </a>
   </div>
   <div class="col m4">
    <a href="#">
      <div class="card hoverable">
        <div class="card-image">
          <img src="http://placehold.it/200x200">
          <span class="card-title">
           <p>Blance & Eclare</p>
           <small>50% Off</small>
         </span>
       </div>
     </div>
   </a>
 </div>
 <div class="col m4">
  <a href="#">
    <div class="card hoverable">
      <div class="card-image">
        <img src="http://placehold.it/200x200">
        <span class="card-title">
         <p>Blance & Eclare</p>
         <small>50% Off</small>
       </span>
     </div>
   </div>
 </a>
</div>
</div>
</div>