<navigation-web></navigation-web>
<div class="container">
    <div class="row">
        <div class="col m12">
            <!-- for some information to user -->
            <div class="card-panel teal" [hidden]="info_desc == null ">
                <span class="white-text">{{info_desc}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <h5>Reset Your Password or 
                <a href="#" routerLink="/signup"style="text-decoration:underline">Sign Up</a>
            </h5>           
            <p>Enter your email address and we'll email you a link to reset your password.</p>
            <form novalidate [formGroup]="forgetPasswordForm" (submit)="forgetPassword()">
                <div class="row">
                    <div class="input-field col m6">
                        <input formControlName="email" type="email" class="validate">
                        <label for="email">Email Address</label>
                        
                        <div *ngIf="forgetPasswordForm.controls.email.errors" >
                            <small style="color:red">Required *</small>
                        </div>
                        <div *ngIf="forgetPasswordForm.controls.email.pattern" > 
                            <small style="color:red">invalid email!</small>
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn" [disabled]="!forgetPasswordForm.valid" 
                [ngClass]="{'btn-red': !forgetPasswordForm.valid }">Submit</button>
            </form>
        </div>
    </div>
</div>
