<div class="col m5">  
	<div class="row"> 
		<div class="col m12">
			<h5 class="caption"> Sign In </h5>
			<div class="divider"></div>
			<form novalidate [formGroup]="signinForm" (submit)="signIn()">
				<div class="input-field col s12">
					<input formControlName="email" type="email" class="validate" required>
					<label for="email">Email</label>
					<div *ngIf="signinForm.controls.email.errors" >
						<small style="color:red">Required *</small>
					</div>
					<div *ngIf="signinForm.controls.email.pattern" >
						<small style="color:red">invalid email!</small>
					</div>
				</div>
				<div class="input-field col s12">
					<input formControlName="password" type="password" class="validate" required>
					<label for="password">Password</label>
					<div *ngIf="signinForm.controls.password.errors" >
						<small style="color:red">Required *</small>
					</div>
					<div *ngIf="signinForm.controls.password.pattern" >
						<small style="color:red">password must be at least 6 up to 40 characters and include at least one character and one digit!</small>
					</div>
					
					
				</div>
				<!-- <p>
					<input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" required />
					<label for="filled-in-box1">Keep me signed in on this computer</label>
				</p> -->
				<div class="row">
					<div class="col m6">
						<button type="submit" [disabled]="!signinForm.valid" class="waves-effect waves-light btn" [ngClass]="{'btn-red': !signinForm.valid }" >Sign In</button>
					</div>
					<div class="col m6">
						<a href="#" routerLink="/forget-password" style="text-decoration: underline;">Forgot Your Password?</a>
					</div>
				</div>				
			</form>
		</div>
	</div>
</div>