<div class="col m5" style="margin-left:40px">
	<div class="row">
		<div class="col m12" >
			<h5 class="caption">Sign In with Social Network</h5>
			<div class="divider"></div>
			<br/><br/>
			<a class="waves-effect waves-light btn signup-facebook" (click)="onSignInFacebook()" style="width:345px;height:35px">
				<i class="fa fa-facebook left" aria-hidden="true"></i>Sign Up with Facebook
			</a>
			<br/><br/>
			<div id="my-signin2"></div>
						<!-- <a class="waves-effect waves-light btn signup-google" (click)="onSignGoogle()"> 
							<i class="fa fa-google left" aria-hidden="true"></i>Sign Up with Google
						</a> -->
						<br/>
						<p>
							<input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
							<label for="filled-in-box2">Keep me signed in on this computer</label>
						</p>
						<br/>
						<h6>Need a Macrocoupon account? 
							<a href="#" routerLink="/signup"> Sign Up</a>
						</h6>
					</div>
				</div>
			</div>

