<div class="row">
	<div class="col m12" style="background-color:white;width:70%;">
		<ul class="tabs">
			<li class="tab col m4"><a class="active" href="#accst">Account Setting</a></li>
			<li class="tab col m4"><a href="#pwst">Password Setting</a></li>
			<li class="tab col m4"><a href="#emst">Email Setting</a></li>
		</ul>
		<!-- Tab username setting -->
		<username-setting></username-setting>
		<!-- Tab password setting -->
		<password-setting></password-setting>
		<!-- Tap email setting -->
		<email-setting></email-setting>						
	</div>
</div>

