	<!-- About Company-->
	<div class="row">
		<div class="col m12">
			<div class="divider"></div>
			<div class="section">
				<div class="row footer-text">
					<div class="col m3">
						<h6>Company</h6>
						<ul *ngFor="let company of companies">
							<li><a href="#" routerLink="/merchant/register">{{company.name}}</a></li>
						</ul>
					</div>
					<div class="col m3">
						<h6>Work with Macrocoupon</h6>
						<ul *ngFor="let company of companies">
							<li><a href="#" routerLink="/merchant/register">{{company.name}}</a></li>
						</ul>
					</div>
					<div class="col m3">
						<h6>More</h6>
						<ul *ngFor="let company of companies">
							<li><a href="#" routerLink="/merchant/register">{{company.name}}</a></li>
						</ul>
					</div>
					<div class="col m3">
						<h6>Get Mobile App</h6>
						<br/>
						<!-- Mobile App -->
						<div>
							<img src="http://placehold.it/220x50" /><br/>
						</div>
						<!-- Merchant Joining -->
						<div>
							<div class="row">
								<div class="col m12">
									<div class="card-panel teal hoverable">
										<span class="white-text">
											MACROCOUPON Merchant Grow Your Business by Working with Groupon. 
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>