<div class="row">
            <div class="col m12" style="text-align: center">
              <div><h4>Welcome to join Macrocoupon</h4></div>
              <div style="margin:40px;">
                <h5>We're glad you're here! With more than a million local businesses on our platform to date,
                  we understand how to help you increase your revenue, lower your costs, and grow your business.
                  Build your deal today.</h5>
              </div>
              <div>
                <h5>Select a Solution to Get Started</h5>
              </div>
            </div>
        </div>
        <div class="divider"></div><br/>