<div class="row">
          <div class="col m6">
              <a href="#" [routerLink]="['business']">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/200x200">
                    <span class="card-title">Goods and Retail</span>
                  </div>
                </div>
              </a>
          </div>
          <div class="col m6">
            <h5 style="text-decoration:underline">Goods and Retail</h5>
              <p>Build a deal that brings more customers to your business. Macrocoupon provides 
                 you the best way to promote your product in your local area.
              </p>
          </div>
        </div>

        <div class="row">
          <div class="col m6">
              <h5 style="text-decoration:underline">Gateway</h5>
              <p>Build a deal that brings more customers to your business. Macrocoupon provides 
                 you the best way to promote your product in your local area.
              </p>
          </div>
          <div class="col m6">
            <a href="#" [routerLink]="['business']">
              <div class="card">
                <div class="card-image">
                  <img src="http://placehold.it/200x200">
                  <span class="card-title">Gateway</span>
                </div>
              </div>
             </a>
          </div>
        </div>

        <div class="row">
          <div class="col m6">
            <a href="#" [routerLink]="['business']">
              <div class="card">
                <div class="card-image">
                  <img src="http://placehold.it/200x200">
                  <span class="card-title">Service</span>
                </div>
              </div>
            </a> 
          </div>
          <div class="col m6">
            <h5 style="text-decoration:underline">Service</h5>
            <p>Build a deal that brings more customers to your business. Macrocoupon provides 
                 you the best way to promote your product in your local area.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col m6">
              <h5 style="text-decoration:underline">Local Deals</h5>
              <p>Build a deal that brings more customers to your business. Macrocoupon provides 
                 you the best way to promote your product in your local area.
              </p>
          </div>
          <div class="col m6">
            <a href="#" [routerLink]="['business']">
              <div class="card">
                <div class="card-image">
                  <img src="http://placehold.it/200x200">
                  <span class="card-title">Local Deal</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="divider"></div><br/>
        <div><h5>Already a Macrocoupon Merchant? Sign in to Your 
          <a href="#" routerLink="merchant-signin">Merchant Center</a>.</h5></div>
        <br/>